<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="template :: header">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		[data-role="messenger"].hide{
			display:none;
		}
	</style>
</head>

<body>
	<p class="alert alert-primary" data-role="messenger">Mensagem vai aqui</p>

	<h1>Meus Contatos</h1>
	<a href="#" class="btn btn-primary">Novo Contato</a>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Telefone</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1234</td>
				<td>nome do contado</td>
				<td>email do contato</td>
				<td>telefone do contato</td>
				<td>
					<a href="#">
						<i class="bi bi-pencil-square" 
						   style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					/
					<a href="https://google.com.br" data-role="delete">
						<i class="bi bi-person-dash"
						    style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					
				</td>
			</tr>
			<tr>
				<td>1234</td>
				<td>nome do contado</td>
				<td>email do contato</td>
				<td>telefone do contato</td>
				<td>
					<a href="#">
						<i class="bi bi-pencil-square" 
						   style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					/
					<a href="https://google.com.br" data-role="delete">
						<i class="bi bi-person-dash"
						    style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					
				</td>
			</tr>
			<tr>
				<td>1234</td>
				<td>nome do contado</td>
				<td>email do contato</td>
				<td>telefone do contato</td>
				<td>
					<a href="#">
						<i class="bi bi-pencil-square" 
						   style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					/
					<a href="https://google.com.br" data-role="delete">
						<i class="bi bi-person-dash"
						    style="font-size: 1.3rem; color: cornflowerblue;"></i>
					</a>
					
				</td>
			</tr>
		</tbody>
	</table>

	<script>
		const btnDelete = document.querySelector('a[data-role="delete"]');
		btnDelete.addEventListener('click',(event)=>{
			const ok = window.confirm('Deseja realmente remover o contato?');
			if(!ok){
				event.preventDefault();
				event.stopImmediatePropagation();
				event.stopPropagation();
			}
		})
		
		setTimeout(()=>{
			document.querySelector('[data-role="messenger"]').classList.toggle('hide');
		},5000)
	</script>

</body>

</html>